@import "/css/Utility.css";

.list-heading label {
  margin: 0.5rem 0;
}

.product-heading {
  margin: 2rem 0 0 0;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  margin: 3rem;
}

.product-container .card {
  background-color: var(--background-color);
  border: 1px solid var(--secondary-text-color);
  margin: 0;
}

.product-container .card:hover {
  box-shadow: 0 0 1rem var(--tertiary-color);
}

.card-image-container {
  height: 250px;
}

.card-btn-container {
  padding: 1rem;
}
