@import "/css/utility.css";
@import "/css/product.css";
@import "/css/cart.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.right-navbar .btn-style {
  margin: 0;
  padding: 0.5rem 1rem;
}

.right-navbar {
  align-items: center;
}

.left-navbar {
  align-items: center;
}

main .page-container {
  width: 100%;
}

.product-page-container {
  display: flex;
  gap: 2rem;
}

/* Search Style */
.search-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid var(--line-styling-color);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.search {
  border: none;
  margin-left: 5px;
  height: 100%;
  font-size: 1rem;
  padding: 0.6rem 1rem;
}

input {
  outline: none;
}

.title{
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0 0 0;
}

.navbar .notification .badge{
  top: -5px;
  background-color: var(--primary-color);
}

/* Global Card Style */

.card-style .card {
  background-color: var(--background-color);
  border: 1px solid var(--secondary-text-color);
  margin: 0;
}

.card-image-container {
  height: 15.625rem;
}

.card-horizontal-style .card {
  background-color: var(--background-color);
  border: 1px solid var(--secondary-text-color);
  margin: 0 0 1rem 0;
}

.card:hover {
  box-shadow: 0 0 1rem var(--tertiary-color);
}
