/* Utility classes */
.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-coloum {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}
